/* 페이지 스타일 */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column; /* 콘텐츠를 세로로 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  height: 100vh; /* 화면 전체 높이 차지 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

/* 페이지 내용 wrapper */
.container {
  width: 80%;
  max-width: 1000px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center; /* 내부 텍스트 중앙 정렬 */
}

/* 제목 */
h1 {
  color: #2c3e50;
  margin-top: 0;
}

/* 페이지 목차 */
h3 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

ul li a:hover {
  color: #e74c3c;
  text-decoration: underline;
}

section hr {
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
}

/* 목록 */
ol {
  padding-left: 0;
  list-style: none;
}

ol li {
  margin-bottom: 10px;
}

/* 테이블 스타일 */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto; /* 테이블을 중앙 정렬 */
}

table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #3498db;
  color: white;
}

table td {
  background-color: #f9f9f9;
}

table tbody tr:hover td {
  background-color: #bfe0df !important;
  cursor: pointer;
  color: white;
}


/* iframe 중앙 정렬 */
iframe {
  display: block;
  margin: 20px auto; /* 수평 중앙 정렬 */
  border: 0;
  width: 100%;
  max-width: 600px;
  height: 450px;
}

/* 푸터 */
footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  text-align: center;
}

/* 공통 링크 */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #e74c3c;
}
